.contoller {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 1px solid black;
  width: 260px;
  padding: 5px;
  box-sizing: border-box;
}

#stage {
  border: 1px solid black;
  margin: auto auto;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
